*{
    font-family: 'Lobster', cursive;
    margin: 0px;
    padding: 0px;
}
table th,td{
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    
}
table{
    border-collapse: collapse;
}
.f{
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg); 
}
.rig{
    float: right;
}
.lef{
    float: left;
}
.color_1{
    background: rgb(255, 190, 68);
}
.t1{
    background: rgb(127, 253, 251);
}
.t2{
    background: rgb(198, 216, 255);
}